.navbar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  margin-bottom: 0;

  justify-self: flex-start;

  width: 100vw;
  height: 150px;
}

.logo {
  margin: 0;
  width: 162px;
  height: auto;
  /* Inside auto layout */
  color: aliceblue;
  font-family: "Playwrite CU", cursive;
}

.org {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  margin: 0;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  opacity: 0.7;
  cursor: pointer;
  user-select: none;
}

.icon {
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}

.Btn {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0;
  cursor: pointer;
}

.svgContainer svg {
  cursor: pointer;
  width: 1.2em;
  height: 1.2em;
}

path {
  cursor: pointer;
}

.svgContainer {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #8a47f5;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.org:hover {
  opacity: 1;
}
.org:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.org:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}

/* From Uiverse.io by satyamchaudharydev */
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Base button styling */
.button {
  --border-right: 3px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --fs-size: 1em;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* Hover text styling */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

/* Hover effect */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* Positive button */
.button-positive {
  --animation-color: #37ff8b; /* Green for positive */
}

/* Negative button */
.button-negative {
  --animation-color: #dc143c; /* Red for negative */
}

/* Neutral button */
.button-neutral {
  --animation-color: #8c92ac; /* Grey for neutral */
}
