:root {
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  line-height: calc(1em+0.5rem);
  cursor: default;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  background-image: url('./assets/background1.jpg'); /* Adjust the path as necessary */
  background-size: cover;
}
a {
  text-decoration: none;
}
img,
svg {
  user-select: none;
}
*::-webkit-scrollbar {
  display: none;
}


.container {
  max-width: 1536px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  body::-webkit-scrollbar {
   display: none ;
  }
   
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
